/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
:root {
  --f-roboto: "Roboto", sans-serif;
  --f-raleway: "Raleway", sans-serif;
  --f-size16: 16px;
  --black: #000000;
  --dark: #212121;
  --dark-grey: #2f303a;
  --grey: #757575;
  --semigrey: #ececec;
  --bordergrey: #afb1b8;
  --border-grey: #eeeeee;
  --lightgrey: #f5f4fa;
  --blue: #2196f3;
  --white-grey: #f5f5f5;
  --white: #fff;
  --opasity: rgba(255, 255, 255, 0.6);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animation: 250ms;
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--f-roboto);
  font-size: var(--f-size16);
  line-height: 1.2;
  color: var(--dark);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

ul {
  list-style: none;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2727272727;
  }
}

.scr-reader {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--semigrey);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding: 16px 0 15px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .header-menu {
    margin-left: 93px;
  }
}

.header-menu__item {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--dark);
  text-decoration: none;
  -webkit-transition: color var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier);
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}

.header-menu,
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-contacts__link {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--grey);
  text-decoration: none;
  -webkit-transition: color var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier);
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-contacts__link svg {
  fill: var(--grey);
  -webkit-transition: fill var(--time-animation) var(--cubic-bezier);
  transition: fill var(--time-animation) var(--cubic-bezier);
}

.header-contacts__link:hover svg,
.header-contacts__link:focus svg {
  fill: var(--blue);
}

.header-menu__item:hover,
.header-contacts__link:hover,
.header-menu__item:focus,
.header-contacts__link:focus,
.header-menu__item--active {
  color: var(--blue);
}

/*  Blue underline */
.header-menu__item--active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: " ";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}

.menu__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu__button {
    display: none;
  }
}

.menu__icon {
  width: 40px;
  height: 40px;
  fill: var(--dark);
  -webkit-transition: fill var(--time-animation) var(--cubic-bezier);
  transition: fill var(--time-animation) var(--cubic-bezier);
}
.menu__button:hover .menu__icon, .menu__button:focus .menu__icon {
  fill: var(--blue);
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--time-animation) var(--cubic-bezier);
  transition: -webkit-transform var(--time-animation) var(--cubic-bezier);
  transition: transform var(--time-animation) var(--cubic-bezier);
  transition: transform var(--time-animation) var(--cubic-bezier), -webkit-transform var(--time-animation) var(--cubic-bezier);
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: none;
  }
}

.menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.menu__link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
  -webkit-transition: color var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier);
}

.menu__link:hover,
.menu__link:focus,
.menu__link--active {
  color: var(--blue);
}

.menu__contacts {
  margin-top: auto;
}

.menu__contacts--tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .menu__contacts--tel {
    font-size: calc(21px + 2vw);
  }
}

.menu__contacts--mail {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  row-gap: 10px;
}
@media screen and (max-width: 479px) {
  .menu__social {
    row-gap: 5px;
  }
}

.menu__social--ref {
  display: block;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .menu__social--ref {
    font-size: calc(7px + 2vw);
  }
}

.menu__social--vr {
  display: block;
  height: 20px;
  margin: 0 10px;
  border-left: 1px solid #d0d0d0;
}
@media screen and (max-width: 479px) {
  .menu__social--vr {
    margin: 0 5px;
  }
}

.logo {
  display: block;
  font-family: var(--f-raleway);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
}
.logo span {
  color: var(--blue);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: opacity var(--time-animation) var(--cubic-bezier), visibility var(--time-animation) var(--cubic-bezier);
  transition: opacity var(--time-animation) var(--cubic-bezier), visibility var(--time-animation) var(--cubic-bezier);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 450px;
  width: 100%;
  max-height: 609px;
  height: 100%;
  opacity: 1;
  background-color: var(--white);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity var(--time-animation) var(--cubic-bezier), -webkit-transform var(--time-animation) var(--cubic-bezier);
  transition: opacity var(--time-animation) var(--cubic-bezier), -webkit-transform var(--time-animation) var(--cubic-bezier);
  transition: transform var(--time-animation) var(--cubic-bezier), opacity var(--time-animation) var(--cubic-bezier);
  transition: transform var(--time-animation) var(--cubic-bezier), opacity var(--time-animation) var(--cubic-bezier), -webkit-transform var(--time-animation) var(--cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark);
}

.form__item {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .form__item {
    margin-bottom: 20px;
  }
}

.form__item:last-child {
  margin-bottom: 20px;
}

.form__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.form__row {
  position: relative;
}

.form__area,
.form__comment {
  width: 100%;
  padding: 12px 12px 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--dark);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: color var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier);
  -webkit-transition: fill var(--time-animation) var(--cubic-bezier);
  transition: fill var(--time-animation) var(--cubic-bezier);
}

.form__area:focus,
.form__comment:focus {
  border-color: var(--blue);
}

.form__area:focus ~ svg,
.form__comment:focus ~ svg {
  fill: var(--blue);
}

.form__type-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.checkbox__label {
  display: block;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    margin-left: 12px;
  }
}

.checkbox__castom {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  border: 2px solid var(--dark);
}

.checkbox__item:checked + .checkbox__castom {
  background-color: var(--blue);
  background-image: url(../images/icon-vector.svg);
  background-repeat: no-repeat;
  border: 2px solid var(--blue);
}

.checkbox__text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.checkbox__agree {
  color: var(--blue);
}

.button--modal {
  margin: 30px auto 0;
}
@media screen and (max-width: 479px) {
  .button--modal {
    margin: 20px auto 0;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: var(--f-size16);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-icons__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  border-radius: 50%;
  -webkit-transition: fill var(--time-animation) var(--cubic-bezier), background-color var(--time-animation) var(--cubic-bezier);
  transition: fill var(--time-animation) var(--cubic-bezier), background-color var(--time-animation) var(--cubic-bezier);
}
.social-icons__ref:hover, .social-icons__ref:focus {
  fill: var(--white);
  background-color: var(--blue);
}

.social-icons__ref--trans {
  background-color: var(--white);
  fill: var(--bordergrey);
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-grey);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 60px 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 70px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contacts__logo {
  margin-bottom: 28px;
  color: var(--white);
}

.contacts__list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts__item:not(:last-child) {
  margin-bottom: 12px;
}

.contacts__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--opasity);
  -webkit-transition: color var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    text-align: left;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--blue);
}

.contacts__link--white {
  color: var(--white);
}

.join__title,
.subscribe__title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .join__title,
.subscribe__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts,
.join {
    -ms-flex-preferred-size: calc((100% - 165px) / 2);
        flex-basis: calc((100% - 165px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    padding-top: 5px;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.subscribe__mail {
  display: inline-block;
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 480px) {
  .subscribe__mail {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__mail {
    margin-bottom: 0;
    width: 358px;
  }
}

.subscribe__mail::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__mail::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__mail:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__mail::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  gap: 10px;
  fill: var(--white);
}

.hero {
  margin: 0 auto;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bcg-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bcg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bcg-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bcg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bcg-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bcg-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bcg-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bcg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bcg-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bcg-desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bcg-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bcg-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.button--hero {
  margin: 30px auto 0;
}
@media screen and (min-width: 1200px) {
  .button--hero {
    width: 216px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.advantages__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--lightgrey);
  border-radius: 4px;
}

.advantages__title {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.directions {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .directions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.directions__item {
  position: relative;
}

.directions__title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  overflow: hidden;
}

.team {
  background: var(--lightgrey);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.team__item {
  background: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__description {
  padding: 30px 30px 24px 30px;
}

.team__name {
  font-size: var(--f-size16);
  font-weight: 500;
  line-height: 1.171875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__job {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: var(--f-size16);
  line-height: 1.171875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__item {
  max-width: 210px;
  max-height: 92px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 210px;
    height: 92px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--bordergrey);
  border-radius: 4px;
  fill: var(--bordergrey);
  -webkit-transition: border-color var(--time-animation) var(--cubic-bezier), fill var(--time-animation) var(--cubic-bezier);
  transition: border-color var(--time-animation) var(--cubic-bezier), fill var(--time-animation) var(--cubic-bezier);
  cursor: pointer;
}
.clients__ref:hover, .clients__ref:focus {
  fill: var(--blue);
  border-color: var(--blue);
}

.filters {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.filters__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
  background-color: var(--lightgrey);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color var(--time-animation) var(--cubic-bezier), background-color var(--time-animation) var(--cubic-bezier), -webkit-box-shadow var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier), background-color var(--time-animation) var(--cubic-bezier), -webkit-box-shadow var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier), background-color var(--time-animation) var(--cubic-bezier), box-shadow var(--time-animation) var(--cubic-bezier);
  transition: color var(--time-animation) var(--cubic-bezier), background-color var(--time-animation) var(--cubic-bezier), box-shadow var(--time-animation) var(--cubic-bezier), -webkit-box-shadow var(--time-animation) var(--cubic-bezier);
}
.filters__btn:hover, .filters__btn:focus {
  color: var(--white);
  background-color: var(--blue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card__item {
  display: block;
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
  list-style: none;
  background-color: var(--white);
}

.card__interactive {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--time-animation) var(--cubic-bezier);
  transition: -webkit-box-shadow var(--time-animation) var(--cubic-bezier);
  transition: box-shadow var(--time-animation) var(--cubic-bezier);
  transition: box-shadow var(--time-animation) var(--cubic-bezier), -webkit-box-shadow var(--time-animation) var(--cubic-bezier);
}
.card__interactive:hover, .card__interactive:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__descr {
  padding: 20px 24px;
  border-right: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-left: 1px solid var(--border-grey);
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark);
}

.card__tag {
  margin-top: 4px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.card__box {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--time-animation) var(--cubic-bezier);
  transition: -webkit-transform var(--time-animation) var(--cubic-bezier);
  transition: transform var(--time-animation) var(--cubic-bezier);
  transition: transform var(--time-animation) var(--cubic-bezier), -webkit-transform var(--time-animation) var(--cubic-bezier);
}
.card__item:hover .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--white);
}/*# sourceMappingURL=main.css.map */