.menu__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu__icon {
  width: 40px;
  height: 40px;
  fill: var(--dark);
  transition: fill var(--time-animation) var(--cubic-bezier);

  .menu__button:hover &,
  .menu__button:focus & {
    fill: var(--blue);
    cursor: pointer;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  transform: translateX(100%);
  transition: transform var(--time-animation) var(--cubic-bezier);

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu.is-open {
  transform: translateX(0);
}

.menu__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__link {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47/40);
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic-bezier);
}

.menu__link:hover,
.menu__link:focus,
.menu__link--active {
  color: var(--blue);
}

.menu__contacts {
  margin-top: auto;
}

.menu__contacts--tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40/34);
  letter-spacing: 0.02em;
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: 479px) {
    font-size: calc(21px + 2vw);
  }
}

.menu__contacts--mail {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28/24);
  letter-spacing: 0.02em;
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
}

.menu__social {
  display: flex;
  flex-wrap: nowrap;
  row-gap: 10px;
  @media screen and (max-width: 479px) {
    row-gap: 5px;
}
}
.menu__social--ref {
  display: block;
  justify-content: left;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22/18);
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
  @media screen and (max-width: 479px) {
    font-size: calc(7px + 2vw);
  }
}

.menu__social--vr {
  display: block;
  height: 20px;
  margin: 0 10px;
  border-left: 1px solid #d0d0d0;
  @media screen and (max-width: 479px) {
    margin: 0 5px;
}
}