:root {
  --f-roboto: 'Roboto', sans-serif;
  --f-raleway: 'Raleway', sans-serif;
  --f-size16: 16px;
  --black: #000000;
  --dark: #212121;
  --dark-grey: #2f303a;
  --grey: #757575;
  --semigrey: #ececec;
  --bordergrey: #afb1b8;
  --border-grey: #eeeeee;
  --lightgrey: #f5f4fa;
  --blue: #2196f3;
  --white-grey: #f5f5f5;
  --white: #fff;
  --opasity: rgba(255, 255, 255, 0.6);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animation: 250ms;
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}